PACMAN_MIRROR=
GOPROXY=
ANYCODE_ACCESS_KEY=change-me
ANYCODE_HTTP_PORT=8080
ANYCODE_DATA_DIR=/home/anycode/.anycode
ANYCODE_AGENT_MAX_CONCURRENT=1
ANYCODE_HOST_DATA_DIR=./data
ANYCODE_WORKSPACES_DIR=./workspaces
TURSO_DATABASE_URL=file:/home/anycode/.anycode/anycode.db
TURSO_AUTH_TOKEN=
